body,html {
  width:100%;
  max-width:100%;
  height:100%;
  margin:0;
  padding:0;
}

#app {
  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
  align-items:center;
  height:100%;
  width:100%;
  //cursor:pointer;
}

.demo {
  width:20vmin;
  height:20vmin;
  background:slategray;
}

.demo:first-of-type {
    cursor:pointer;
}

.red {background:firebrick;}
.green {background:teal;}
.blue {background:slateblue;}
