body {
width:100%;
max-width:30rem;
margin:5rem auto;}



#effect {
  margin:auto;
}

.highlight {
  background-color: rgb(233, 30, 99);
  width: 200px !important;
  transition:all .4s ease;
}

.shrink {
  background-color: rgb(33,150,243);
  width: 50px !important;
  transition:all .4s ease;
}

.mdl-button {
  margin-left:50%;
  transform:translateX(-50%);
  margin-bottom:4rem;
  margin-top:4rem;
}

.mdl-card {
  justify-content:center;
}

.mdl-button--fab {
  align-self:center;
  margin:0;
  transform:translate(0, 0);
}

.margins {
  margin:5rem auto 1rem;
}

.centering {
  text-align:center;
}
.mdl-textfield, .mdl-checkbox{
  width:80%;
  margin:1rem 0 1rem 50%;;
  transform:translateX(-50%);
}
.mdl-textfield__input {

  border-bottom:none;
  width:100%;
  text-align:center;
}

.mdl-textfield__label {
  color:rgba(0,0,0,.5);
}

.mdl-card {
  margin:auto;
  opacity:0;
}

.blue {
  background:rgb(33,150,243);
  transition:.3s ease;
}

.blue .mdl-button--fab.mdl-button--colored {
  background:rgb(255, 235, 59);
  color:black;
}

.pink {
  background:rgb(233, 30, 99);
  transition: all .3s ease;
}

.pink .mdl-button--fab.mdl-button--colored {
  background:rgb(255, 235, 59);
  color:black;
}

.yellow {
  background:rgb(255, 235, 59);
  transition:all .3s ease;
}

.yellow .mdl-button--fab.mdl-button--colored {
  background:rgb(33,150,243);
}

.default {
  background:rgb(96, 125, 139);
  transition: all .3s ease;
}

.default .mdl-button--fab.mdl-button--colored {
  background:white;
  color:black;
}

.mdl-button--fab.mdl-button--colored {
transition: all .3s ease; }

.visible {
  opacity:1;
}

.progress-bar {
  
  height:20px;
  border:1px solid rgb(96, 125, 139);
  background:white;
}
