body,html {
  width:100%;
  max-width:100%;
  height:100%;
  margin:0;
  padding:0;
}

#app {
  display:flex;
  flex-flow:column nowrap;
  justify-content:flex-start;
  align-items:center;
  height:auto;
}

.wrapper, .wrapper2 {
  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
  align-items:flex-start;
  width:50%;
  padding-top:5rem;
}

.wrapper2 {
  flex-flow:column nowrap;
  align-items:center;
}

.demo, .demo2 {
  width:22vmin;
  height:22vmin;
  background:slategray;
  margin:0 0 2vmin 0;
  cursor:pointer;
}


.red {background:firebrick;}
.green {background:teal;}
.blue {background:slateblue;}

input {
  margin:1rem;
  align-self:center;
  text-align:center;
  min-width:200px;
}
