<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel='stylesheet' href='css/material.min.css' />
  <link rel='stylesheet' href='css/styles.css' />
  <link rel='stylesheet' href='css/dynamicStyles.css' />
</head>
<body>

<div id="app1">
  <h1 ref='heading'>{{ title }}</h1>
  <button v-on:click="show" ref="myButton">Show Paragraph</button>
  <p v-if="showParagraph">This is not always visible</p>
</div>

<div id="app2">
  <h1 ref="heading">{{ title }}</h1>
  <button v-on:click="onChange">Change</button>
  <button v-on:click="show">Show Paragraph</button>
  <p v-if="showParagraph">This is not always visible</p>
  <hello></hello>
  <hello></hello>
  <hello></hello>
</div>

<div id="app3">

</div>


<script src='js/vue.js'></script>
<script src='js/vueInstance.js'></script>
<script src='js/material.min.js'></script>
</body>
</html>
