<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel='stylesheet' href='css/material.min.css' />
  <link rel='stylesheet' href='css/styles.css' />
  <link rel='stylesheet' href='css/dynamicStyles.css' />
</head>
<body>


	<div id="app">
		<p v-if="show">
			Do you like <span>CD's</span>
		</p>
		<p v-else-if="!show">
			Or tapes?
		</p>
		<template v-if="!show">
			<p>tape dese nuts to yo chin</p>
		</template>
		<p>
			Do you also see me?
		</p>
		<button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'
		@click='show = !show'>
			switch
		</button>
	</div>


<script src='js/vue.js'></script>
<script src='js/conditionals.js'></script>
<script src='js/material.min.js'></script>
</body>
</html>
