<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel='stylesheet' href='css/material.min.css' />
  <link rel='stylesheet' href='css/styles.css' />
  <link rel='stylesheet' href='css/exercise4.css' />
</head>

<body>

<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'
    @click="startEffect">Start Effect</button>
    <div id="effect" v-bind:class="['visible', effectClasses]" class='demo-card-square mdl-card mdl-shadow--2dp'></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax

  without quotes, we are refernecing a data object, with them we are directly referencing a created class-->
  <p :class="[margins, 'centering', ]">{{happyP}}</p>
  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    <div :class="[{visible:true}, color]" class='demo-card-square mdl-card mdl-shadow--2dp' >
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">+</i>
      </button>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input v-model='color' class="mdl-textfield__input" type="text">
      <label class="mdl-textfield__label" for="sample1">enter an existing class here...</label>
    </div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    <div :class="[{visible:visible}, color]" class='demo-card-square mdl-card mdl-shadow--2dp'>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">+</i>
      </button>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input v-model='color' class="mdl-textfield__input" type="text">
      <label class="mdl-textfield__label" for="sample1" >enter an existng class here...</label>
    </div>
    <!--
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" >
      <label class="mdl-textfield__label" for="sample1">class on or off...</label>
      all strings are interpretted as true when paired to boolean data objects so entering any text in this field sets it to true while removing it sets it to false
    </div>
    -->
    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
      <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" v-model='visible'>
      <span class="mdl-checkbox__label">visible classes on or off</span>
    </label>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    <div>
      <div :style='myStylesComputed' class='demo-card-square mdl-card mdl-shadow--2dp'>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
          <i class="material-icons">+</i>
        </button>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input v-model='myStyles.width' class="mdl-textfield__input" type="text">
        <label class="mdl-textfield__label" for="sample1" >width</label>
      </div>
      <input class="mdl-slider mdl-js-slider" type='range' v-model='myStyles.width' min='30' max='100' />

      <div class="mdl-textfield mdl-js-textfield">
        <input v-model='myStyles.height' class="mdl-textfield__input" type="text">
        <label class="mdl-textfield__label" for="sample1" >height</label>
      </div>
      <input class="mdl-slider mdl-js-slider" type='range' v-model='myStyles.height' min='150' max='300' />
    </div>
  </div>
  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' v-on:click="startProgress">Start Progress</button>
    <div></div>
  </div>
</div>

<script src='js/material.min.js'></script>
<script src='js/vue.js'></script>
<script src='js/exercise4.js'></script>


</body>
</html>
