<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
</head>

<body>
    <div id="app">
        <div v-if="show">\[T]/</div>
        <div v-else>:(</div>
        <template v-if="show">
            <p>Praise the Sun!</p>
            <p>\[T]/</p>
        </template>
        <template v-else>
            <p>You Died</p>
            <p>:(</p>
        </template>
        <button @click="show = !show">toggle</button>
        <h5>food</h5>
        <button @click="addMore">add new</button>
        <ul>
            <li v-for="(fruit, i) in fruits" :key="fruit + i">{{fruit}}</li>
        </ul>
        <h5>people</h5>
        <template v-for="(person, i) in persons">
            <h5>person {{i + 1}}</h5>
            <p>{{person.name}}</p>
            <p>{{person.age}}</p>
            <p>{{person.color}}</p>
        </template>
        <ul v-for="(person, i) in persons">
            <li> person {{i + 1}}
                <ul>
                    <li v-for="(value, key, i) in person">{{key}}: {{value}} {{i}}</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li v-for="n in 10">{{n}}</li>
        </ul>
    </div>
</body>
<script src='js/vue.js'></script>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                show: true,
                fruits: ["banana", "apple", "organge", "pear"],
                persons: [{
                        name: "disguy",
                        age: "34",
                        color: "red"
                    },
                    {
                        name: "sumyoung",
                        age: "29",
                        color: "blue"
                    },
                    {
                        name: "ladyboy",
                        age: "99",
                        color: "yellow"
                    }
                ]
            }
        },
        methods: {
            addMore() {
                this.fruits.push('pomegranate');
            }
        }
    })
</script>

</html>